htlm{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container-restore{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    color:white;
    background: rgb(227,197,197);
    background: linear-gradient(180deg, rgba(227,197,197,1) 50%, rgba(165,8,69,1) 50%);
}
/*contenedor header volver*/

#back{
    margin-left: 15px;
    margin-top: 5px;
    width: 2%;
}


.container-form-restore{
    margin-top: 4rem;
    display: flex!important;
    flex-direction: column;
    justify-content: center!important;
    align-items: center;
    text-align: center; 
}
#logo{
    width: 50vw;
}


#volver{
   padding: 8px;
   color:rgba(165,8,69,1);
   font-size: 1.5rem;
}

.input-restore{
    display: flex!important;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center!important;
}
.btn-restore{
    display:flex;
    justify-content: center;
}

#logo-restore{
    width: 40%;
}


@media only screen and (min-width: 1400px) and (min-height:700px) {

  .container-form-restore{
    margin-top: 200px;
  }
}

@media only screen and (min-width: 360px) and (max-width:768px)  {
    
  .container-1{
    height: 10vh;
  }  
  .container-img{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
 
  .form{
    margin-top: 50px;
    margin-left: 4.5%;
    height: 60vh;
    width: 80vw;
  }
}

